.HeaderContainer {
  margin-top: 15rem;

  .Logo {
    display: none;
  }

  .Text,
  h2 {
    text-align: center;
  }

  .Text {
    span {
      color: var(--main-greyscale-90);
      font-weight: 700;
    }
  }
}

.CustomInputContainer {
  margin-top: 4rem;
}

.ActionButtonContainer {
  margin-top: 2.5rem;

  .ActionButton {
    width: 100%;
    height: 3.125rem;
  }
}

.EmailNotReceived {
  margin-top: 1.6rem;
  text-align: center;

  span {
    color: var(--light-purple);
    font-style: normal;
    font-weight: 700;
    line-height: 1.4rem;
    cursor: pointer;
  }
}

.BackToSignIn {
  margin-top: 1.6rem;
  text-align: center;
  cursor: pointer;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
  .HeaderContainer {
    margin-top: 2.6rem;

    .Logo {
      display: block;
    }

    h2 {
      margin-top: 6rem;
      font-size: 1.9rem;
    }

    .Text,
    h2 {
      text-align: left;
    }
  }

  .NoAccountText {
    text-align: center;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media screen and (min-width: 481px) and (max-width: 767px) {
  .HeaderContainer {
    margin-top: 2.6rem;

    h2 {
      margin-top: 1.8rem;
    }

    .Text,
    h2 {
      text-align: left;
    }
  }

  .NoAccountText {
    text-align: center;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .HeaderContainer {
    margin-top: 2.6rem;

    h2 {
      margin-top: 1.8rem;
    }

    .Text,
    h2 {
      text-align: left;
    }
  }

  .NoAccountText {
    text-align: center;
  }
}
