.Main {
  padding-top: 1.654rem;

  .Logo {
    display: none;
  }

  .Container {
    padding-top: 10rem;
  }
  .HeaderContainer {
    text-align: center;
  }

  .Form {
    margin-top: 1.765rem;

    .SubActionContainer {
      span {
        color: var(--light-purple);
        font-style: normal;
        font-weight: 700;
        line-height: 1.4rem;
      }
    }

    .ActionButton {
      width: 100%;
      height: 3.125rem;
      flex: 1;
    }
  }

  .BackToSignIn {
    padding-top: 2rem;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Media Query for Mobile Devices */

@media screen and (max-width: 980px) {
  .Main {
    padding-top: 1.654rem;
    .Logo {
      display: block;
    }
    .Container {
      padding-top: 15rem;
    }
  }
}
@media screen and (max-width: 550px) {
  .Main {
    padding-top: 1.654rem;

    .Container {
      padding-top: 6rem;
    }
  }
}
