.HeaderContainer {
  margin-top: 13rem;

  .Logo {
    display: none;
  }
  .Image1 {
    width: 5.438rem;
    height: 5.438rem;
    margin-bottom: 1rem;
  }
  .Image2 {
    width: 9.3rem;
    height: 9.3rem;
    margin-top: 2rem;
  }
  .ImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Text,
  h2 {
    text-align: center;
  }
}

.ActionButton {
  width: 100%;
  height: 3.125rem;
}

.NoAccountText {
  margin-top: 1.6rem;
  text-align: center;

  a {
    color: var(--light-purple);
    font-style: normal;
    font-weight: 700;
    line-height: 1.4rem;
    cursor: pointer;
    text-decoration: none;
  }
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
  .HeaderContainer {
    margin-top: 2.6rem;

    .Logo {
      display: block;
    }

    h2 {
      margin-top: 1.8rem;
      font-size: 1.9rem;
    }

    .Text,
    h2 {
      text-align: center;
    }
  }

  .NoAccountText {
    text-align: center;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media screen and (min-width: 481px) and (max-width: 767px) {
  .HeaderContainer {
    margin-top: 2.6rem;

    h2 {
      margin-top: 1.8rem;
    }

    .Text,
    h2 {
      text-align: left;
    }
  }

  .NoAccountText {
    text-align: center;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .HeaderContainer {
    margin-top: 2.6rem;

    h2 {
      margin-top: 1.8rem;
    }

    .Text,
    h2 {
      text-align: center;
    }
  }

  .NoAccountText {
    text-align: center;
  }
}
